.Explore-More{
    .Explore-More-Inner{
        text-align: center;
        padding: 50px 0px;
        .Stars-Sec{
            svg{
                color: #FAA709;
                font-size: 20px;
                margin: 0px 2px;
            }
        }
        h1{
            font-size: 22px;
            font-family:$Poppins_Medium ;
            color: white;
            padding: 20px 0px 25px 0px;
        }
    }
}