.Testimonials-Sec{
    padding: 0px 0px 50px 0px;
    .Test-TopHeading{
        text-align: center;
        padding: 0px;
        margin: 0px;
        position: relative;
        h1{
            font-size: 175px;
            letter-spacing: 0.05em;
            line-height: 0px;
            text-align: center;
            background: linear-gradient(rgba(0, 255, 255, 0), rgba(255, 255, 0, 0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #11144f42;
            font-family: "Poppins-Regular";
            text-transform: uppercase;
            padding: 60px 0px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    
    .Testimonial-Slider-Sec{
        padding: 50px 0px 0px 0px;
        .Testimonals-Slider{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;

            .Slider-Content-Col{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    font-size: 38px;
                    font-family: $Poppins_Medium;
                    color: white;
                    padding: 0px 0px 16px 0px;
                }
                p{
                    font-size: 16px;
                    font-family: $Poppins_Regular;
                    color: white;
                    line-height: 28px;
                }
                .ClientName-Logo{
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    padding: 16px 0px;
                    h4{
                        font-size: 24px;
                        font-family: $Poppins_Medium;
                        color: white;
                    }   
                }
            }
            .Slider-Img-Col{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
   
}