.H-Banner{
    height: 135vh;
    margin-top: -186px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background: linear-gradient(0deg,rgb(189 30 45),rgba(189,30,45,.7) 20%),url('/assets/images/bannerbg.webp') !important;;
    // &::after{
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(180deg, rgba(189,32,46,0.8827906162464986) 0%, rgba(188,30,44,0.8547794117647058) 16%, rgba(188,30,44,0.8911939775910365) 25%, rgba(188,30,44,0.8491771708683473) 30%, rgba(189,30,45,1) 100%);
    //     opacity: 0.6;
    //     top: 0;
    //     bottom: 0;
    //     margin: auto;
    //     z-index: 0;
    //     }

        .Images-Box{
            margin-top: 90px;
        }
    .Banner-warrap{
        text-align: center;
        z-index: 1;
        h1{
            font-size: 52px;
            font-family: $Poppins_Bold;
            line-height: 65px;
            color: white;
        }
        
        
        
        .Banner-Form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            .Form-Inner{
                background: #ffffff94;
                width: 50%;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 1px 0 5px 3px hsla(0,3%,45%,.322);
                h4{
                    font-size: 20px;
                    font-family: $Poppins_SemiBold;
                    color: #BD1E2D;
                }
                .FormFileds{
                    display: grid;
                    grid-template-columns: 280px 130px ;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 20px;
                    padding-top: 20px;
                    .Input-div{
                        position: relative;
                        input{
                            border: 1px solid #BD1E2D;
                            height: 40px;
                            padding: 8px 10px 10px 50px;
                            border-radius: 20px;
                            width: 100%;
                        }
                        input::placeholder{
                            font-size: 14px;
                            color: #BD1E2D;
                            font-family: $Poppins_Regular;
                        }
                    }
                    .Input-div::after{
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background-image: url('/assets/images/inputfiled.png');
                        left: 13px;
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: 100% 90%;
                        top: 6px;
                    }
                    button{
                        background: #BD1E2D;
                        border: none;
                        color: white;
                        padding: 8px 20px;
                        border-radius: 20px;
                        font-family: $Poppins_Regular;
                        border: 1px solid #BD1E2D;
                    }
                    button:hover{
                        background: #ff000000;
                        border: 1px solid #BD1E2D;
                        color: #BD1E2D;
                        transition: all ease-in-out 0.3s;
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .H-Banner{
        height: 100vh;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .H-Banner{
        height: 80vh;
        .Banner-warrap{
            h1{
                font-size: 36px;
                line-height: 40px;
            }
            .Banner-Form{
                margin-top: 25px;
            }
            .Images-Box{
                margin-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .H-Banner{
        height: 80vh;
        .Banner-warrap{
            h1{
                font-size: 36px;
                line-height: 40px;
            }
            .Banner-Form{
                margin-top: 25px;
            }
            .Images-Box{
                margin-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}